.flex-container {
	display: flex; /*высто доч эл такая же и по ум доч эл в строку*/
}

p {
	background: gray;
	margin: 0;
}

.flex-container1 {
	background: lightgray;
	display: flex;
	/*justify-content: flex-start;*/
	justify-content: flex-end;
	/*justify-content: space-around;
	justify-content: space-between;*/
}

.flex-container2 {
	display: flex;
	background: lightgray;
	/*align-items: flex-start;*/
	/*align-items: flex-end;*/
	align-items: stretch;
	/*align-items: center;*/
	/*align-items: baseline;*/
}

.flex-container3 {
	display: flex;
	background: lightgray;
	
	/*flex-direction: row;*/ /*(def)*/
	/*flex-direction: row-reverse;*/ 
	flex-direction: column; 
	/*flex-direction: column-reverse; */

}

.flex-container4 {
	display: flex;
	background: lightgray;
	width: 250px;
	flex-wrap: wrap; 
/*	flex-wrap: no-wrap;
	flex-wrap: wrap-reverse;*/

}

.flex-container5 {
	display: flex;
	background: lightgray;
	width: 250px;

	height: 400px;
	flex-wrap: wrap;
	flex-direction: row;
/*	align-content: flex-end;*/
	align-content: flex-start;
	/*align-content: center;*/
	align-content: space-between;
	/*align-content: space-around;*/
	align-content: stretch;


}

.flex-container6 {
	display: flex;
	background: lightgray;
	height: 250px;
}

.order {
	order: 1; /*-1  | 0  | 1 */
}

.flex-basis {
	flex-basis: 200px;
}

.flex-grow{
	flex-grow:3; /*расст-е относительно базиса */
}

.flex-shrink {
	flex-shrink: 1;
}
/* flex: flex-grow flex-shrink flex-basis */
/*flex:0 1 auto;*/

.align-self { y
	align-self: flex-end;
/*	align-self: stretch;
	align-self: center;
	align-self: flex-start;*/
}