@import url(grid.css);

 /*		menu	*/
.menu {
	position: fixed;
	top: 0;
	left:0;
	right:0;
	background: #d3d3d3;
}

.menu ul{
	text-align: center;
}

.menu li{
	display: inline-block;
}



.menu a{
	text-decoration:none;
	display: block;
	padding: 8px 10px;
}

.menu li:hover{
	background: green;
}

/*	slider 	*/
.slider{
	height: 50vh; 
	margin-top:40px; 
}

.slider li{
	display: none;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	list-style-type: none; 
}

.slider li:first-child {
	background-image: url(../img/slider01.jpg);
}


.slider li:nth-child(2) {
	background-image: url(../img/slider02.jpg);
}

.slider li:last-child {
	background-image: url(../img/slider03.jpg);
}

li.active-slide {
	display: block;
}

/*	grid layout 	*/
.container { /*что бы было не широко на экране*/
	margin:0 auto;
	max-width: 1000px;	
}

.cat1,
.cat2 {
	height: 300px;
}

.cat1 {
	background: gray;
	margin-right:5px;
	
}

.cat2 {
	background: gray;
	margin-left:5px;
	
}

.item {
	border: 1px solid #333;
	margin: 5px;
	height: 250px;
}

/*!!!	blog page: ;*/

.good {
	height: 200px;
	background: red;
}


.info-rel-p{
	position: relative; /*тянется сюда к относительному*/
}


.info {
	height: 600px;
	/*width: 50px;*/
	background: green;
	position: absolute; /*абс блок отсюда абс-ый*/
	top: 0px;
	left: 0px;
	right: 0px;
}



.catalog {
	margin-top:66px;
}
